// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.text-price-tag {
    @extend .font-weight-lighter;
    font-size: 3rem;
    color: $success;
    del {
        font-size: 1.3rem;
    }
}

.cart-dropdown {
    width: 300px;
}

.cursor-pointer {
    cursor: pointer;
}

.card {
    @extend .border-0, .shadow-sm;
}

// Admin panel
.edit-button {
    font-size: 1em;
    i {
        font-size: inherit;
        vertical-align: middle;
    }
}

.admin-card {
    @extend .border-0, .shadow-sm;
    background-color: $white;
    color: $dark;
    .text-big {
        font-size: 2em;

    }
}
